<div class="jumbotron mt-4">
  <h1 class="display-4">App Nodejs and MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  <hr class="my-4" />
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, aspernatur
    beatae. Ratione totam magni eos nostrum vitae aliquid tenetur quisquam hic,
    in eum quam deserunt, eveniet atque rerum alias aspernatur.</p>

  <a href="http://www.google.com.br" class="btn btn-primary btn-lg">Google</a>
</div>